@import url('https://early.webawesome.com/webawesome@3.0.0-alpha.10/dist/styles/themes/default.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:where(:root),
:host,
.wa-theme-default,
.wa-light,
.wa-dark,
.wa-invert {
  --wa-font-family-body: 'Roboto', sans-serif;

  /* c2c colors */
  --wa-color-brand-fill-loud: rgba(255, 189, 98, 1);
  /* --wa-color-surface-default: rgba(253, 253, 246, 1); */

  --wa-color-neutral-fill-quiet: rgba(255, 244, 203, 1);
  --wa-color-neutral-fill-normal: var(--wa-color-gray-90);
  --wa-color-neutral-fill-loud: var(--wa-color-gray-20);
  --wa-color-neutral-border-quiet: var(--wa-color-gray-90);
  --wa-color-neutral-border-normal: var(--wa-color-gray-80);
  --wa-color-neutral-border-loud: rgba(225, 225, 207, 1);
  --wa-color-neutral-on-quiet: var(--wa-color-gray-40);
  --wa-color-neutral-on-normal: var(--wa-color-gray-30);
  --wa-color-neutral-on-loud: white;
  --wa-color-focus: rgba(255, 244, 203, 1);

  --c2c-background-color: rgba(237, 237, 237, 1);
  --c2c-secondary-background-color: rgba(249, 243, 236, 1);
  --c2c-gap-s: 7px;
  /* end of c2c colors */

  --wa-form-control-background-color: rgba(253, 253, 246, 1);
  /* --wa-form-control-border-radius: 0; */

  /* FIXME: use color variables */
  wa-button {
    --border-color-hover: rgba(190, 127, 40, 1);
    --background-color-hover: var(--background-color);

    --border-color-active: rgba(190, 127, 40, 1);
    --background-color-active: rgba(255, 189, 98, 1);
  }

  wa-switch::part(control) {
    border-radius: var(--wa-form-control-border-radius);
  }
  wa-switch::part(thumb) {
    border-radius: var(--wa-border-radius-s);
  }
  /*
    wa-button-group::part(base) {
      gap: 6px;
    }
     */
}

wa-icon {
  height: auto;
}

wa-card::part(header) {
  padding: 12px 24px 0 24px;
  font-weight: bold;
}

wa-card.ngv-toolbar {
  display: inline-flex;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
}
wa-card.ngv-toolbar::part(body) {
  --spacing: 12px;
}


wa-details.ngv-vertical-menu {
  background-color: var(--c2c-background-color);
}

wa-details.ngv-vertical-menu::part(base) {
  padding: 3px;
}

wa-details.ngv-vertical-menu::part(header) {
  padding: 12px;
}

wa-details.ngv-vertical-menu::part(content) {
  padding: 0;
}

/*wa-details.ngv-vertical-menu::part(body) {*/
/*  --spacing: 3px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 8px*/
/*}*/

wa-details.ngv-vertical-menu wa-card {
  border: 0;
  box-shadow: none;
  background-color: var(--wa-form-control-background-color);
}

wa-details.ngv-vertical-menu wa-card::part(body) {
  padding: 12px 24px;
}

/*wa-details.ngv-vertical-menu > wa-card::part(header) {*/
/*  border-bottom: 0;*/
/*}*/

wa-details.ngv-vertical-menu::part(icon) {
  padding: 8px;
}

wa-details[open].ngv-vertical-menu::part(icon) {
  margin-left: auto;
  transform: rotate(90deg);
}


wa-details.ngv-vertical-menu::part(icon):hover {
  background-color: var(--wa-color-neutral-fill-quiet);
  border-radius: var(--wa-border-radius-m);
}

.ngv-vertical-menu-content {
  display: flex;
  flex-direction: column;
  gap: var(--c2c-gap-s);
}

/* ngv navigation plugin start */
wa-details.ngv-vertical-menu wa-card.ngv-view-navigation-card::part(body) {
  padding: 12px 0;
}

wa-details.ngv-vertical-menu wa-card.ngv-view-navigation-card::part(header) {
  padding: 12px 0 0 0;
}

.ngv-view-btns {
  box-shadow: none;
  background-color: var(--c2c-secondary-background-color);
  border: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--c2c-gap-s);
  border-radius: var(--wa-border-radius-m);
  padding: 12px;
}
.ngv-view-btns-n {
  grid-area: 1 / 2 / 2 / 3;
}
.ngv-view-btns-w {
  grid-area: 2 / 1 / 3 / 2;
}
.ngv-view-btns-t {
  grid-area: 2 / 2 / 3 / 3;
}
.ngv-view-btns-e {
  grid-area: 2 / 3 / 3 / 4;
}
.ngv-view-btns-s {
  grid-area: 3 / 2 / 4 / 3;
}

ngv-plugin-cesium-navigation wa-card.nav-container::part(body) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

ngv-plugin-cesium-navigation > wa-card [slot='header'] {
  display: flex;
  align-items: center;
  gap: 6px;
}

ngv-plugin-cesium-navigation wa-select::part(combobox):hover {
  border-color: var(--wa-color-focus);
}

ngv-plugin-cesium-navigation wa-select::part(expand-icon) {
  display: none;
}
/* ngv navigation plugin end */

/* ngv-layers-list start */
.ngv-layers-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 12px;
  height: 135px;
  overflow-y: auto;
}
.ngv-layers-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--c2c-secondary-background-color);
  border-radius: var(--wa-border-radius-m);
  padding: 6px 12px;
}

.ngv-layers-list-title {
  font-weight: bold;
}
/* ngv-layers-list end */

